html {   --link-50: hsl(30deg 100% 50%);
  --link-90: hsl(30deg 100% 90%);
  }
div.nav { background-color: #3f98ff; height: 50 ; color: #FFFFFF ; width: 2000px;}
body {
   font-family: "Noto Sans", sans-serif;
   color: hsl(225deg 15% 40%) ;
   margin: 0; }
div.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
div.content_group.image-and-text {
  display: flex;
  align-items: center;
  gap: 50px;
}
div.content_group.image-and-text.left {
  flex-direction: row;
}
div.content_group.image-and-text.right {
  flex-direction: row-reverse;
}
div.content_group.image-and-text > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 700px;
  width: 50%;
}
div.content_group.image-and-text > img {
  max-width: 700px;
  width: 50%;
}
a.link {
  border-radius: 10px;
  padding: 2px 5px;
  background: var(--link-90);
  color: var(--link-50);
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s linear;
}
a.link:hover {
  background: var(--link-50);
  color: #ffffff;
}
