html {
  --link-50: hsl(30deg 100% 50%);
  --link-90: hsl(30deg 100% 90%);
}
div.tutorial { color: #575e75   height: 300;  width: 720px;  border-radius: 15px; transition: 0.3s;}
div.tutorial:hover {box-shadow: 0px 0px 15px #575e75;}
div.nav {
  background-color: #3f98ff;
  height: 60;
  color: #FFFFFF;
  box-shadow: 0px 1px 10px -3px #000000;
}

body {
   font-family: "Noto Sans", sans-serif;
   color: hsl(225deg 15% 40%);
   margin: 0;
}

div.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

div.content_group.image-and-text {
  display: flex;
  align-items: center;
  gap: 50px;
}

div.content_group.image-and-text.left {
  flex-direction: row;
}

div.content_group.image-and-text.right {
  flex-direction: row-reverse;
}

div.content_group.image-and-text > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 900px;
  width: 50%;
}

div.content_group.image-and-text > img {
  max-width: 700px;
  width: 50%;
}

a.link {
  border-radius: 10px;
  padding: 2px 5px;
  background: var(--link-90);
  color: var(--link-50);
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s linear;
}

a.link:hover {
  background: var(--link-50);
  color: #ffffff;
}

div.my {
  border-radius: 10px;
  background-color: #e4e4e4;
  color: #2d2d2d;
  width: 1300px;
}

.button {
  background: var(--ui-main-90);
  color: var(--text);
  font-size: 25px;
  border-bottom: 2px solid var(--ui-main-70);
  border-radius: 10px;
  padding: 20px;
  font-weight: normal;
  text-decoration: none;
  height: 20px ;
  width: 20px;
  transition: 0.3s linear;
}

.button:hover {
  background: var(--button-hov-bg);
  color: var(--button-hov-text);
  border-bottom-color: var(--button-hov-border);
}

div.butt{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 20;
  width: 710px;
}

button.yt { 
width: 300px; 
height: 40px;
border-radius: 10px;
background-color: #ff5858;
color: #FFFFFF;
font-size: 20px;
transition: 0.3s;
}
button.yt:hover {width: 340px;} 
button.rutube { 
width: 300px; 
height: 40px;
border-radius: 10px;
background-color: #001737;
color: #FFFFFF;
font-size: 20px;
transition: 0.3s;
}
button.rutube:hover {width: 340px;} 
button.vk { 
width: 300px; 
height: 40px;
border-radius: 10px;
background-color: #0077ff;
color:#FFFFFF;
font-size: 20px;
transition: 0.3s;
}
button.vk:hover {width: 340px;} 
button.dzen { 
width: 300px; 
height: 40px;
border-radius: 10px;
background-color: #000000;
color:#FFFFFF;
font-size: 20px;
transition: 0.3s;
}
button.dzen:hover {width: 340px;} 

